.landingPage-container {
  width: 100%;
  min-height: 90vh;
  display: flex;

  .left {
    width: 21.45%;
    margin-right: 12px;
    background-color: #FFF;
  }

  .right {
    flex: 1;
    background-color: #FFF;
  }
}
