.navbar-container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 12.57%; //190px của 1512px
  margin-bottom: 12px;

  .navbar-logo {
    width: 138px;
    height: 50px;
    margin-right: 17px;

    &:hover {
      cursor: pointer;
    }
  }

  .navbar-menu {
    min-width: 48.94%; //740px của 1512px
    display: flex;
    justify-content: space-between;

    .navbar-menu-title {
      width: 140px;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      color: #000000;
      text-decoration: none;

      &:hover {
        color: #8C52FF;
        cursor: pointer;
      }
    }
  }

  .navbar-right {
    width: 220px;
    display: flex;
    justify-content: space-between;

    .navbar-right-btn {
      width: 105px;
      height: 38px;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      border-radius: 10px;

      &:hover {
        opacity: 0.8;
        box-shadow: rgba(100, 100, 111, 0.4) 0px 6px 20px 0px;
        cursor: pointer;
      }
    }

    .btn-register {
        background-color: white;
        color: #000;
        border: 1px solid #000;
    }

    .btn-login {
        background-color: #8C52FF;
        color: #FFF;
        border: 1px solid transparent;
    }
  }
}
