.home-user-container {
    position: relative;
    width: 100%;
    background-color: #E4E3EE;;

    .home-user-container-right {
        margin-left: 300px;
        
        .home-user-container-right-content {
            padding-top: 100px;
            height: 100%;
        }
    }
}