//Dùng chung
.textItem-wrapper {
  position: relative;
}

//CreatePage
.CreatePage-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  .list-icon {
    z-index: 1;
    border-radius: 10px;
    background-color: white;
    border: 0.4px solid #333;
    padding: 4px 6px;
    position: absolute;
    top: 10px;
    right: 16px;
  }

  .icon {
    color: #666;
    cursor: pointer;
  }

  .icon-18 {
    width: 18px;
    height: 18px;
    margin: 0 5px;
  }

  .form {
    position: absolute;
    z-index: 100;
    background: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;

    .container {
      width: 400px;
      height: 600px;
      background: white;
      border-radius: 10px;

      .form-wrapper {
        padding: 10px;
        .col {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: 20px;
          margin: 6px 0;

          .left {
            width: 150px;
            text-align: left;
          }

          .value {
            flex: 1;
          }
        }
      }
    }
  }

  .sidebar {
    overflow: visible;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    background: burlywood;
    padding: 10px;
    overflow: scroll;

    .select {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 5%;

      .item {
        font-size: 10px;
        background: white;
        border: 2px solid #333;
        margin-bottom: 5%;
        overflow: hidden;
        position: relative;

        &:hover ::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 100%;
        }
      }
      .dragging {
        opacity: 0.5;
      }
    }
  }

  .body {
    width: 100%;
    height: 100%;
    padding-left: 22%;
    display: flex;
    flex-direction: column;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      @keyframes overBox {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
      }

      .over-box {
        width: 100%;
        height: 6px;
        background-color: #d2691e;
        opacity: 0.5;
        animation: overBox 0.15s ease-in;
      }

      .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 40px;
        border: 0.4px dashed #e6d0de;
      }

      .col {
        position: relative;
        width: auto;
        display: flex;
      }
    }

    .new-item {
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      border: 2px dashed #e6d0de;

      .btn {
        background-color: chocolate;
        border: none;
        border-radius: 10px;
        padding: 10px 30px;
        color: white;
        font-size: 16px;
        font-weight: 600;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }
}
